<section class="usercontain">
  <form action="/user/editUser/{{user.id}}" method="POST" id="form-contain">
    <div class="tittle">    
      <h2>Edita tu cuenta en unos segundos</h2>
    </div>
    <div class="form">
      <div class="left">
        <div class="profileInput">
          <label for="name">Nombre</label>
          <input id="name" type="text" name="name" placeholder="Insert your name" class="text" value="{{user.name}}">
        </div>
        <div class="description">
            <label for="description">Descripción</label>
            <textarea name="description" for="description" maxlength="300" >{{user.description}}</textarea>
          </div>  
      </div>
        <div class="right">
          <div class="languages">
          <label for="">Idioma</label>
          <ul class="ul">
            <li><input type="checkbox" id="español" name="languages" value="español">Español</li>
            <li><input type="checkbox" id="ingles" name="languages" value="inglés">Inglés</li>
            <li><input type="checkbox" id="frances" name="languages" value="francés">Francés</li>
            <li><input type="checkbox" id="aleman" name="languages" value="alemán">Alemán</li>
            <li><input type="checkbox" id="portugues" name="languages" value="portugués">Portugués</li>
            <li><input type="checkbox" id="italiano" name="languages" value="italiano">Italiano</li>
            <li><input type="checkbox" id="otros" name="languages" value="otros">Otros</li>
          </ul>
        </div>
          

        </div>
    </div>
    <div class="linksContainer">
    <button class="greenbutton">Crear</button>
    <a class="greenbutton" href="/user/{{user.id}}">Volver</a>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    </div>
  </form>
  <form class="photoLoader" action="/user/editUser/photo/{{user.id}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="photo"></input>
    <button class="greenbutton">Subir Foto</button>
  </form>
</section>