<section class="usercontain">
  <form>
    <div class="tittle">
      <h2>Perfil</h2>
    </div>
    <div class="form">
      <div class="left">
        <div class="profileInput">
          <label for="text">Nombre</label>
          <p>{{foundUser.name}}</p>
        </div>
        <div class="profileInput">
          <label for="text">Idiomas</label>
          <p>{{foundUser.languages}}</p>
        </div>
        <div class="profileInput">
          <label for="text">Descripción</label>
          <div class="textarea">
            <p>{{foundUser.description}}</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="profilePhoto">
          <label for="text">Foto</label>
          <img src="{{foundUser.imgPath}}" alt="{{foundUser.name}}">
        </div>
        <div class="linksContainer">
          <a href="/user/editUser/{{foundUser.id}}" class="greenbutton">Editar</a>
          <a href="/offer/all" class="greenbutton">Volver</a>
      </div>
      </div>
    </div>
  </form>

</section>