


<section class="usercontain">
  <h1>perfil usuario</h1>
{{#each foundUser}}
<div>
  <img src="{{imgPath}}" alt="{{name}}">
  </div>
<div>
  <h1>{{name}}</h1>
</div>
<div>
  <p>{{decription}}</p>
</div>
<div>{{languages}}</div>

{{/each}}
</section>



<a href="/user/editUser/{{foundUser.id}}">EDIT</a>
<a href="/offer/all">back</a>
 