<section class="usercontainer">
  <div class="profile">
    <h1>perfil usuario</h1>
    <div class="tot">
      <div class="left">
        <div>
          <label for="text">Nombre</label>
          <h1>{{foundUser.name}}</h1>
        </div>

        <label for="text">Idiomas</label>
        <div>{{foundUser.languages}}</div>
      </div>

      <div class="right">
        <div class="photo">
          <label for="text">Photo</label>
          <div>
            <img src="{{foundUser.imgPath}}" alt="{{foundUser.name}}">
          </div>
        </div>
        <div class="description">
          <label for="text">Descripcion</label>
          <div class="textarea">
            <p>{{foundUser.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a href="/user/editUser/{{foundUser.id}}" class="greenbutto">EDIT</a>
      <a href="/offer/all" class="greenbutto">back</a>
    </div>
  </div>

</section>