<section class="usercontain">
  <form>
    <h1>Perfil</h1>
    <div class="form profileData">
      <div class="left">
        <div>
          <label for="text">Nombre</label>
          <p>{{foundUser.name}}</p>
        </div>
        <div>
          <label for="text">Idiomas</label>
          <div>{{foundUser.languages}}</div>
        </div>
        <div>
          <label for="text">Descripción</label>
          <div class="textarea">
            <p>{{foundUser.description}}</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="photo">
          <label for="text">Foto</label>
          <div>
            <img src="{{foundUser.imgPath}}" alt="{{foundUser.name}}">
          </div>
        </div>
        <div class="description">
          <label for="text">Descripción</label>
          <div class="textarea">
            <p>{{foundUser.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a href="/user/editUser/{{foundUser.id}}" class="greenbutton">Editar</a>
      <a href="/offer/all" class="greenbutton">Volver</a>
    </div>
  </form>

</section>